*{
    background-color: rgb(22,22,22);
    font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    color: #D4D4D4;
    box-sizing: border-box;
}

.my_name{
    font-size: 10px;
}
.my_name [div~="IKEDI"]{
    color: green;
}
.page_links{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}